
:root {
 --dark-text:rgb(65, 69, 81);
 --light-text:rgb(130, 132, 144);
 --hover-link: rgb(45, 109, 212);
 --background-col: rgba(0, 255, 255, 0.853);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-col);
  color: var(--light-text);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}


h2 {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-text);
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-text);
  margin-bottom: 10px;
  line-height: 1.4;
}

p, 
p a {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-text);
  line-height: 1.4;
}

p a:hover {
  color: var(--hover-link);
}

p {
  margin-bottom: 10px;
}

::placeholder {
  color: var(--light-text);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  opacity: 0;
}

input,
input:focus,
input:focus:not(:placeholder-shown) {
  background-color: rgb(233, 235, 243);
  border-radius: 30px;
  border: none;
  color: var(--dark-text);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  transition: width 0.3s;
  width: 250px;
}

input:not(:focus):placeholder-shown {
  background-image: url(./images/search-img.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.page-grid {
  display: grid;
  gap: 20px;
  grid-template: max-content calc(100vh) / max-content minmax(600px, 1fr);
  padding-right: 20px;
}

.top-nav {
  grid-area: 1 / 2 / 2 / 4 ;
  padding-top: 20px;
}

#alerts {
  background-image: url(./images/notification.img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.top-nav-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: grid;
  grid-template: max-content / 1fr max-content;
  padding: 15px 20px 15px 30px;
  gap: 20px;
  overflow: hidden;
}

.top-nav-links {
  align-items: center;
  display: flex;
  gap: 20px;
}

.top-nav-links li {
  display: inline;
  list-style-type: none;
}

.top-nav-links a,
.top-nav-links a:hover,
.top-nav-links a:visited {
  color: var(--light-text);
  text-decoration: none;
}

.top-nav-links a:hover {
  color: var(--hover-link);
}

.top-nav-options {
  align-items: center;
  display: flex;
  gap: 20px;
}

.divider {
  background-color: rgb(219, 221, 231);
  height: 100%;
  width: 1px;
}

.h-divider {
  background-color: rgb(219, 221, 231);
  height: 1px;
  width: 100%;
}

.avatar {
  background-color: var(--dark-text);
  background-image: url(img/bender.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120% 120%;
  border-radius: 50%;
  border: 1px solid var(--light-text);
  height: 40px;
  width: 40px;
}

.side-nav {
  background-color: azure;
  color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: grid;
  grid-area: 1 / 1 / 4 / 2;
  grid-auto-rows: max-content;
  grid-template: max-content / max-content;
  padding: 30px;
  row-gap: 25px;
}

.side-nav a {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  color: var(--light-text);
  padding-left:  30px;
  text-decoration: none;
}

.side-nav a:hover {
  color: var(--hover-link);
}


.side-nav .h-divider {
  background-color: rgb(64, 64, 74);
}

#dash-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 22px;
  font-weight: 400;
}

.section-title {
  color: var(--dark-text);
  font-size: 22px;
  font-weight: 400;
  grid-column: 1 / -1;
  margin: 35px 30px 15px 30px;
}

.main-content {
  display: grid;
  gap: 20px;
  grid-area: 2 / 2 / 4 / 4;
  grid-template: max-content / 1fr 300px;
  margin-bottom: 50px;
}

#projects {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
}

#news {
  display: grid;
  gap: 10px;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
}

#announcements,
#trending {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: grid;
  gap: 20px 15px;
  grid-template-rows: max-content;
  padding: 30px;
}


#trending {
  grid-template-columns: max-content 1fr;
}

#news p:last-child {
  margin-bottom: 0;
}

.trending-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 55px;
}

#trending .h-divider {
  grid-column: 1 / -1;
}

.project-card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: grid;
  gap: 10px;
  grid-template-rows: max-content 1fr max-content;
  padding: 30px;
  transition: all 0.4s;
}
 
  .project-image:hover {
  transition: all 2s;
  transform: rotate(10deg);
}

.card-controls {
  display: flex;
  gap: 15px;
  justify-content: right;
  margin-top: 9px;
}

.card-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.project-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  height: 80px;
  margin-bottom: 20px;
  overflow: hidden;
}

.project-card:hover {
  box-shadow: 0 0  14px rgba(0, 0, 0, 0.9);
  transition: all 1s;
  outline: 2px solid lightblue;
}

#dashboard {
  background-image: url(./images/dashboard-img.svg);
  transition: all 2s ease-out;
}

#dashboard:hover {
  background-image: url(./images/dashboard-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

#home {
  background-image: url(./images/home-img.svg);
  transition: all 2s ease-out;
}

#home:hover {
  background-image: url(./images/home-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}


#profile {
  background-image: url(./images/profile-img.svg);
  transition: all 2s ease-out;
}

#profile:hover {
  background-image: url(./images/profile-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

#messages {
  background-image: url(./images/message-img.svg);
  transition: all 2s ease-out;
}

#messages:hover {
  background-image: url(./images/message-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

#tasks {
  background-image: url(./images/tasks-img.svg);
  transition: all 2s ease-out;
}

#tasks:hover {
  background-image: url(images/tasks-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

#communities {
  background-image: url(./images/communities-img.svg);
  transition: all 2s ease-out;
}

#communities:hover {
  background-image: url(./images/communities-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

#settings {
  background-image: url(./images/setting-img.svg);
  transition: color 2s ease-out;
}

#settings:hover {
  background-image: url(./images/setting-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

#support {
  background-image: url(./images/support-img.svg);

  transition: all 2s ease-out;
}

#support:hover {
  background-image: url(./images/support-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

#privacy {
  background-image: url(./images/privacy-img.svg);
  transition: all 2s ease-out;

}

#privacy:hover {
  background-image: url(./images/privacy-img.svg);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 1rem;
}

.favourite {
  background-image: url(./images/star.svg);
}

.view {
  background-image: url(./images/eye.svg);
}

.share {
  background-image: url(./images/share.svg);
}
